  <table class="table table-bordered pull-right">
    <tr>
      <td><%= image_tag 'star-on.png' %>×1</td>
      <td>大型車（トラック）等は注意が必要</td>
    </tr>
    <tr>
      <td><%= image_tag 'star-on.png' %>×2</td>
      <td>大型車通行不可</td>
    </tr>
    <tr>
      <td><%= image_tag 'star-on.png' %>×3</td>
      <td>普通車通行不可</td>
    </tr>
    <tr>
      <td><%= image_tag 'star-on.png' %>×4</td>
      <td>軽自動車通行不可</td>
    </tr>
    <tr>
      <td><%= image_tag 'star-on.png' %>×5</td>
      <td>全車両通行不可</td>
    </tr>
  </table>

