<%# publicとadminのshowビュー%>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-12">
      <h4 class="col-3">状況詳細</h4>
        <div id='map'></div>
        <%= image_tag road.image, size: "400×400" %>
    </div>
    <div class="col-lg-6 col-12">
      <div class="col-12 mb-5"></div>
        <div class="d-flex col-12 mb-3">
          <span class="flex-fill bd-highlight col-3">住所</span>
            <%= road.address %>
        </div>
        <div class="d-flex col-12 mb-3">
          <span class="flex-fill bd-highlight col-3">緯度</span>
            <%= road.lat %>
        </div>
        <div class="d-flex col-12 mb-3">
          <span class="flex-fill bd-highlight col-3">経度</span>
            <%= road.lng %>
        </div>
        <div class="d-flex col-12 mb-3" id="star">
          <span class="flex-fill bd-highlight col-3">走行難度</span>
          <%= render "public/roads/static_rate", road: road %>
        </div>
        <div class="d-flex col-12 mb-3">
          <span class="flex-fill bd-highlight col-3">車種</span>
            <%= road.car_model %>
        </div>
        <div class="d-flex col-12 mb-3">
          <span class="flex-fill bd-highlight col-3">詳細説明</span>
            <%= road.situation %>
        </div>

        <% if admin_signed_in? %>
            <div class="d-flex bd-highlight justify-content-center mb-2">
              <%= link_to '編集', edit_admin_road_path(road.id), class: "btn btn-success" %>
            </div>
        <% elsif road.user == current_user %>
            <div class="d-flex bd-highlight justify-content-center mb-2">
              <%= link_to '編集', edit_road_path(road.id), class: "btn btn-success" %>
            </div>
        <% else %>
        <% end %>

        <style>
          #map {
            height: 400px;
            width: 100%;
          }
        </style>
        <script>
          function initMap(){
            var showLatLng = { lat: <%= road.lat %>, lng: <%= road.lng %> };
            var showMap = new google.maps.Map(document.getElementById('map'), {
              center: showLatLng,
              zoom: 14
            });

            var showMarker = new google.maps.Marker({
              position: showLatLng,
              map: showMap
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>




