<div class="conteiner">
  <div class="row">
    <h4 class=" offset-1 col-2 title mt-3 mb-3 text-center">マップ</h4>
    <div class="col-lg-10 justify-content-center"></div>
      <div class="col-lg-6 d-flex bd-highlight ml-2">
        <input id="address" type="textbox"　value="Osaka" class= "form-control flex-fill">
        <input type="button" value="検索" onclick="codeAddress()">
      </div>
    <div class="col-lg-8 mb-4">
      <div id='map' class="ml-2 mr-2"></div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="col-12 mb-3">
      <h5>登録された地点</h5>
        <i class="fa-solid fa-road"></i><span id="postAddress"></span>
      </div>
      <div class="col-12 mb-3">
      <h5>走行難度</h5>
      </div>
      <div class="col-12 mb-3">
      <h5>周辺写真</h5>
      <div id="photo" class= "col-12 text-center"></div>
      </div>

        <p id="detail" class= "col-12 mb-3 text-center"><p>
    </div>
  </div>
</div>

  <style>
    #map {
      height: 600px;
      width: 100%;
    }
  </style>


  <script>
    var indexMap

    function initMap(){
      geocoder = new google.maps.Geocoder()

      indexMap = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 34.6937, lng: 135.5021},
        zoom: 12,
      });

      <% @roads.each do |road| %>
        ( function() {
          var markerLatLng = { lat: <%= road.lat %>, lng: <%= road.lng %>};
          var indexMarker = new google.maps.Marker({
            position: markerLatLng,
            map: indexMap
          });

          indexMarker.addListener('click', function() {
            document.getElementById('postAddress').textContent = "<%= road.address %>";
             <% if road.image.attached? %>
               document.getElementById('photo').innerHTML = `<%= image_tag road.image, height: '300px', width: '500px' %>`;
             <% else %>
               document.getElementById('photo').innerHTML = `<%= image_tag 'noimage-760x460', height: '300px', width: '100%' %>`;
             <% end %>
            document.getElementById('detail').innerHTML = `<%= link_to "詳細", road_path(road.id), class: "btn btn-primary" %>`;
          });
        })();
      <% end %>
    }

    function codeAddress(){
      let inputAddress = document.getElementById('address').value;
      geocoder.geocode({ 'address': inputAddress }, function(results, status){
        if(status == 'OK'){
          let newLat = results[0].geometry.location.lat()
          let newLng = results[0].geometry.location.lng()
          const newCenter = new google.maps.LatLng(newLat, newLng);
          indexMap.setCenter(newCenter);
        } else {
          alert('該当する結果がありませんでした' + status);
        }
      });
    }

  </script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap"></script>
