<div class="container">
  <div class="row">
    <div class="col-lg-7 mb-4">
      <h4 class=" offset-lg-1 col-lg-2 title mt-3 mb-3 text-center">マップ</h4>
      <div class="col-12  text-right">
        <input id="address" type="textbox" size= "40%" placeholder="住所で検索">
        <input type="button" value="検索" onclick="codeAddress()">
      </div>
      <div class="col-12">
        <div id='map'></div>
      </div>
    </div>
    <div class="col-lg-5 mb-4">
      <div class="col-12 mb-4"></div>
      <div class="col-12 mt-5 mb-3">
      <h5>登録された地点</h5>
        <i class="fa-solid fa-road"></i><span id="postAddress"></span>
      </div>
      <div class="col-12 mb-3">
      <h5>走行難度</h5>
        <div id="rate">
        <% 5.times do %>
          <%= image_tag asset_path('star-off.png') %>
        <% end %>
        </div>
      </div>
      <div class="col-12 mb-3">
      <h5>周辺写真</h5>
      <div id="photo" class= "col-12 text-center">
        <%= image_tag asset_path('noimage-760x460.png'), height: '300px', width: '90%' %>
      </div>
      </div>
        <p id="detail" class= "col-12 mb-3 text-center"><p>
        <div class="col-10 offset-1 mt-5">
          <%= render 'public/roads/explanation' %>
        </div>
    </div>
  </div>
</div>

  <style>
    #map {
      height: 800px;
      width: 100%;
    }
  </style>

  <script>
    //let、constではマーカーが正常に表示されない為、var使用
    var indexMap

    function initMap(){
      geocoder = new google.maps.Geocoder()

      indexMap = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 34.733359423977156, lng: 135.49968137672695},
        zoom: 12,
      });

      //マーカーの設置
      <% @roads.each do |road| %>
        ( function() {
          let markerLatLng = { lat: <%= road.lat %>, lng: <%= road.lng %>};
          let indexMarker = new google.maps.Marker({
            position: markerLatLng,
            map: indexMap
          });

          //マーカークリック後の処理
          indexMarker.addListener('click', function() {
            document.getElementById('postAddress').textContent = "<%= road.address %>";
            document.getElementById('rate').innerHTML = `<div id="star_<%= road.id %>"></div>`;
              let elem = document.querySelector('#star_<%= road.id %>');
              if (elem == null) return;

              elem.innerHTML = "";
              let opt = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: false,
                score: "<%= road.star %>",
                readOnly: true,
              };
              raty(elem, opt);
             <% if road.image.attached? %>
               document.getElementById('photo').innerHTML = `<%= image_tag road.image, height: '300px', width: '90%' %>`;
             <% else %>
               document.getElementById('photo').innerHTML = `<%= image_tag asset_path('noimage-760x460.png'), height: '300px', width: '90%' %>`;
             <% end %>
            document.getElementById('detail').innerHTML = `<%= link_to "詳細", road_path(road.id), class: "btn btn-primary pr-5 pl-5" %>`;
          });
        })();
      <% end %>
    }

    //検索後の処理
    function codeAddress(){
      let inputAddress = document.getElementById('address').value;
      geocoder.geocode({ 'address': inputAddress }, function(results, status){
        if(status == 'OK'){
          let newLat = results[0].geometry.location.lat()
          let newLng = results[0].geometry.location.lng()
          const newCenter = new google.maps.LatLng(newLat, newLng);
          indexMap.setCenter(newCenter);
        } else {
          alert('該当する結果がありませんでした');
        }
      });
    }

  </script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap"></script>
