<header class="shadow-sm">
  <% if admin_signed_in? %>
    <% if request.fullpath.include? "/admin" %><!--adminでログインしていてadmin画面にいる時-->
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <span class="navbar-brand p-3">
            <%= link_to admin_root_path do %>
              <%= image_tag asset_path('impasse.png'), height: '100px', width: '150px' %>
            <% end %>
          </span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to "ユーザーリスト", admin_users_path, class: "text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "投稿リスト", admin_roads_path, class: "text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "text-white" %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <% else %><!--adminでログインしていてadminにいない(ユーザー画面にいる)時-->
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <span class="navbar-brand p-3">
            <%= link_to admin_root_path do %>
              <%= image_tag asset_path('impasse.png'), height: '100px', width: '150px' %>
            <% end %>
          </span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to "About",  "/homes/about", class: "text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "text-white" %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <% end %>
  <% elsif user_signed_in? %><!--ユーザーがログインしていている時-->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <span class="navbar-brand p-3">
          <%= link_to root_path do %>
            <%= image_tag asset_path('impasse.png'), height: '100px', width: '150px' %>
          <% end %>
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "地点登録", new_road_path, class: "text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "About",  "/homes/about", class: "text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "マイページ", users_path, class: "text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <% else %><!--adminもユーザーもログインしていない時-->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <span class="navbar-brand p-3">
          <%= link_to root_path do %>
            <%= image_tag asset_path('impasse.png'), height: '100px', width: '150px' %>
          <% end %>
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to new_road_path, class: "text-white" do %>
                地点登録
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "About",  "/homes/about", class: "text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規会員登録", new_user_registration_path, class: "text-white" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "text-white" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <% end %>
</header>